body {
background:#EEE url('') no-repeat fixed;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size:14px;
}
body header {
display:block;
background:rgba(0, 0, 0, 0.6) url('') no-repeat fixed;
width:88%;
height:auto;
margin:0 auto;
padding-top:29px;
padding-bottom:29px;
font-size:48px;
color:#FFF;
text-align:center;
border-radius:10px 10px 10px 10px;
-webkit-border-radius:10px 10px 10px 10px; /* Chrome y Safari */
-moz-border-radius:10px 10px 10px 10px; /* Firefox */
-o-border-radius:10px 10px 10px 10px; /* Opera */
-ms-border-radius:10px 10px 10px 10px; /* Internet Explorer */
}
body nav {
display:block;
background:rgba(0, 0, 0, 0.6) url('') no-repeat fixed;
width:88%;
height:auto;
margin:0 auto;
margin-top:5px;
font-size:19px;
color:#FFF;
text-align:center;
border-radius:10px 10px 10px 10px;
-webkit-border-radius:10px 10px 10px 10px; /* Chrome y Safari */
-moz-border-radius:10px 10px 10px 10px; /* Firefox */
-o-border-radius:10px 10px 10px 10px; /* Opera */
-ms-border-radius:10px 10px 10px 10px; /* Internet Explorer */
}
body #contenedor {
display:block;
width:88%;
margin:0 auto;
}
body section {
display:block;
float:left;
background:rgba(0, 0, 0, 0.6) url('') no-repeat fixed;
width:69%;
height:auto;
margin-top:5px;
font-size:19px;
color:#FFF;
text-align:center;
border-radius:10px 10px 10px 10px;
-webkit-border-radius:10px 10px 10px 10px; /* Chrome y Safari */
-moz-border-radius:10px 10px 10px 10px; /* Firefox */
-o-border-radius:10px 10px 10px 10px; /* Opera */
-ms-border-radius:10px 10px 10px 10px; /* Internet Explorer */
}
body section article {
display:block;
background:rgba(255, 255, 255, 0.6) url('') no-repeat fixed;
width:95%;
height:auto;
margin:0 auto;
margin-top:5px;
margin-bottom:5px;
padding-left:5px;
padding-right:5px;
font-size:19px;
color:#000;
text-align:justify;
border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px; /* Chrome y Safari */
-moz-border-radius:5px 5px 5px 5px; /* Firefox */

-o-border-radius:5px 5px 5px 5px; /* Opera */
-ms-border-radius:5px 5px 5px 5px; /* Internet Explorer */
}
body aside {
display:block;
float:left;
background:rgba(0, 0, 0, 0.6) url('') no-repeat fixed;
width:30%;
height:auto;
margin-top:5px;
margin-left:1%;
font-size:19px;
color:#FFF;
text-align:center;
border-radius:10px 10px 10px 10px;
-webkit-border-radius:10px 10px 10px 10px; /* Chrome y Safari */
-moz-border-radius:10px 10px 10px 10px; /* Firefox */
-o-border-radius:10px 10px 10px 10px; /* Opera */
-ms-border-radius:10px 10px 10px 10px; /* Internet Explorer */
}
body footer {
display:block;
clear:both;
background:rgba(0, 0, 0, 0.6) url('') no-repeat fixed;
width:88%;
height:auto;
margin:0 auto;
margin-top:44px;
font-size:19px;
color:#FFF;
text-align:center;
border-radius:10px 10px 10px 10px;
-webkit-border-radius:10px 10px 10px 10px; /* Chrome y Safari */
-moz-border-radius:10px 10px 10px 10px; /* Firefox */
-o-border-radius:10px 10px 10px 10px; /* Opera */
-ms-border-radius:10px 10px 10px 10px; /* Internet Explorer */
}
body header #hcontenido {
width:70%;
padding-bottom:14px;
float:left;
}
body header #hcontenido .titulo {
text-transform:capitalize;
text-align:left;
padding-left:19px;
font-family:'Raleway',sans-serif;
}
body header #hcontenido .descripcion {
text-transform:capitalize;
text-align:left;
padding-left:19px;
font-family:'Raleway',sans-serif;
font-size:16px;
}
body header #busqueda {
float:left;
width:30%;
}
body header #busqueda input[type=text] {
border:1px solid #2a2e31;
background-color:#2d3035;
color:#bcbcbc;
border-radius:15px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
padding:7px 12px;
}
body header #busqueda input[type=text]:hover {
border:1px solid #FFF;
transition:all ease-in .3s;
}
body header #busqueda input[type=button] {
position:relative;
left:-6px;
border:1px solid #FFF;
background:#666;
filter: progid:DXImageTransform.Microsoft.gradient(
startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 );
color:#FFF;
cursor: pointer;
}
body header #busqueda input[type=button]:hover{
background:#000;
transition:all ease-in .3s;
}
body header #suscripciones {
display:block;
clear:both;
width:auto;
height:auto;
margin-left:66%;
}
body header #suscripciones a {
padding-left:7px;
padding-right:7px;
}
body header #suscripciones a img:hover {
opacity:0.6;
transition:all ease-in-out .3s;
}
h1 {
font-family:'Raleway',sans-serif;
font-size:24pxpx;
}
h2 {
background:#EEE;
border:1px #333333 solid;
font-family:'Raleway',sans-serif;
font-size:30px;
color:#333;
font-weight:bold;
margin-top:14px;
margin-left:-31px;
padding-left:48px;
padding-right:9px;
margin-right:-9px;
box-shadow:#333 2px 2px 8px;
}
h3 {
font-family:'Raleway',sans-serif;
font-size:18px;
}
h4 {
font-family:'Raleway',sans-serif;
font-size:16px;
}
h5 {
font-family:'Raleway',sans-serif;
font-size:14px;
}
h6 {
font-family:'Raleway',sans-serif;
font-size:12px;
}
blockquote {
width:61%;
background:url(imagenes/iconos/1401872257_left_quote.png) no-repeat;
font-style:italic;
border:1px #CCC dashed;
padding:7px 7px 7px 133px;
}
span {
background:#CCC;
color:#333;
padding-left:3px;
padding-right:3px;
}
pre {
width:98%;
border:1px #CCC dashed;
background:#EEE;
color:#333;
font-size:14px;
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -o-pre-wrap;
padding:7px 7px 7px 7px;
box-shadow:#333 2px 2px 4px;

overflow:auto;
max-height:110px;
}
code {
width:100%;
font-family:"Lucida Console", Monaco, monospace;
}
table {
width:70%;
}
th {
text-align:center;
background:#CCC;
color:#333;
border:1px #333 solid;
text-transform:capitalize;
padding:2px 2px 2px 2px;
box-shadow:#333 2px 2px 4px;
}
td {
background:#FFF;
color:#333;
padding:2px 2px 2px 2px;
border:1px #333 solid;
box-shadow:#333 2px 2px 4px;
}
body aside #widget {
padding-bottom:18px;
font-family:'Raleway',sans-serif;
}
body aside h2 {
width:78%;
float:right;
text-align:right;
font-size:21px;
}
body aside .wcontenido {
clear:both;
text-align:left;
text-align:justify;
padding-left:4%;
padding-right:4%;
font-size:16px;
}
body aside .wcontenido form {
text-align:center;
}
body aside .wcontenido form input[type=text] {
border:1px solid #2a2e31;
background-color:#2d3035;
color:#bcbcbc;
border-radius:15px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
padding:7px 12px;
/*MEJORAS
box-shadow:3px 3px 8px #333;
-webkit-box-shadow:3px 3px 8px #333;
-moz-box-shadow:3px 3px 8px #333;
-o-box-shadow:3px 3px 8px #333;
-ms-box-shadow:3px 3px 8px #333; */
}
body aside .wcontenido form input[type=text]:hover {
border:1px solid #FFF;
transition:all ease-in .3s;
}
body aside .wcontenido form input[type=password] {
border:1px solid #2a2e31;

background-color:#2d3035;
color:#bcbcbc;
border-radius:15px;
-moz-border-radius:15px;
-webkit-border-radius:15px;
padding:7px 12px;
/*MEJORAS
box-shadow:3px 3px 8px #333;
-webkit-box-shadow:3px 3px 8px #333;
-moz-box-shadow:3px 3px 8px #333;
-o-box-shadow:3px 3px 8px #333;
-ms-box-shadow:3px 3px 8px #333; */
}
body aside .wcontenido form input[type=text]:password {
border:1px solid #FFF;
transition:all ease-in .3s;
}
body aside .wcontenido form input[type=button] {
position:relative;
left:-6px;
border:1px solid #FFF;
background:#666;
filter: progid:DXImageTransform.Microsoft.gradient(
startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 );
color:#FFF;
cursor: pointer;
/*MEJORAS
margin-left:-49px;
border-radius:0px 15px 15px 0px;
padding:5px 14px 5px 14px;
*/
}
body aside .wcontenido form input[type=button]:hover{
background:#000;
transition:all ease-in .3s;
}
body aside .wcontenido form label {
font-weight:bold;
font-size:10px;
}
body footer a {
text-decoration:none;
color:#CCC;
transition:all ease-out .2s;
}
body footer a:hover {
text-decoration:underline;
color:#EEE;
}
body footer a {
text-decoration:none;
color:#CCC;
transition:all ease-out .2s;
}
body footer a:hover {
text-decoration:underline;
color:#EEE;
}